*{
	box-sizing: border-box;
}
#container{
	width: 120vw;
	margin-left: -10vw;

}

#pattern1{
	background-color: lightgrey;
} 
#pattern1 .p1-1{
	width: 50px;
	height: 100px;
	float: left;
	margin: -5px;
	margin-bottom: -80px;
}
#pattern1 .p1-2{
	width: 70px;
	height: 300px;
	background-color: lightcyan;
	float: left;
	margin-bottom: -80px;
	margin-top: -50px;
	margin-left: -50px;
	border: 10px solid black;
	transform: rotate(45deg);
}




#pattern2{
	background-color: lightgrey;
} 
#pattern2 .p2-1{
	width: 50px;
	height: 50px;
	background-color: black;
	float: left;
	margin: -10px;
	transform: ;
}
#pattern2 .p2-2{
	width: 50px;
	height: 50px;
	background-color: lightslategrey;
	float: left;
	opacity: .5;
	margin: -20px;
}



#pattern3 .p3-1{
	width: 200px;
	height: 200px;
	background-color: lightgrey;
	float: left;
	transform: rotate(25deg);
	margin: 10px;
}
#pattern3 .p3-2{
	width: 200px;
	height: 200px;
	background-color: blue;
	float: left;
	transform: rotate(25deg);
	margin: 10px;
}
#pattern3 .p3-3{
	width: 200px;
	height: 200px;
	background-color: lightskyblue;
	float: left;
	transform: rotate(25deg);
	margin: 10px;
}



#pattern4 .p4-1{
	width: 150px;
	height: 150px;
	background-color: yellowgreen;
	float: left;
	opacity: .8;
	margin: -5px;
}
#pattern4 .p4-2{
	width: 150px;
	height: 150px;
	background-color: hotpink;
	float: left;
	opacity: .8;
	margin: -5px;
}
#pattern4 .p4-3{
	width: 150px;
	height: 150px;
	background-color: lightgrey;
	float: left;
	opacity: .8;
	margin: -5px;
}


#pattern5 .p5-1{
	width: 150px;
	height: 150px;
	background-color: yellowgreen;
	float: left;
	margin: -5px;
}
#pattern5 .p5-2{
	width: 150px;
	height: 150px;
	background-color: hotpink;
	float: left;
	margin: -5px;
}
#pattern5 .p5-3{
	width: 150px;
	height: 150px;
	background-color: lightskyblue;
	float: left;
	margin: -5px;
}
#pattern5 .p5-4{
	width: 150px;
	height: 150px;
	background-color: darkred;
	float: left;
	margin: -5px;
}
#pattern5 .p5-5{
	width: 150px;
	height: 150px;
	background-color: black;
	float: left;
	margin: -5px;
}
